{
  "Version": 2,
  "Mixers": {
    "Guid": "53513b53-48b3-4e74-b2e0-9d13103a1b86",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "Processors": [],
    "Children": [
      {
        "Guid": "27bb8768-cf53-4b4f-b452-8d065c1a6b67",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "fe7e99e7-ba52-4283-9b4e-ef6703ea7bab",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "IsDefault": true,
        "Processors": [],
        "Children": [
          {
            "Guid": "66d62f2b-6c62-4702-8578-04b93bf448d6",
            "Name": "Cave",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "Processors": [
              {
                "Effect": "cavern.medium",
                "Enabled": true,
                "Mix": 1,
                "__type": "DspProcessor"
              }
            ],
            "Children": []
          }
        ]
      },
      {
        "Guid": "77377cfb-5bf9-4e88-a9b6-02e0bd25177e",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "ee568ca2-fe5e-4456-a0a6-bb56ae96e671",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}