@using Sandbox.UI;
@inherits PanelComponent

<root>
    @if ( CurrentVideo is not null)
    {
        <AttributionPanel Source=@CurrentVideo/>
    }
    <label id="notice">All copyrighted videos are excerpts displayed for educational purposes.</label>
    <div id="videoArea">
        <VideoPanel @ref=VideoPanel VideoPath=@CurrentVideoPath/>
        <VideoControlOverlay VideoPanel=@VideoPanel/>
    </div>
</root>
