@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div id="topArea">
        <div id="switchArea">
            <div class="switch-option">
                <label class="left">background-image</label>
                <SwitchControl class="visible" Value:bind=@UseVideoPlayer/>
                <label class="right">VideoPlayer</label>
            </div>
            @if ( UseVideoPlayer )
            {
                <div class="switch-option">
                    <label class="left"></label>
                    <SwitchControl id="spatializeSwitch" class="wide" Value:bind=@SpatializeAudio/>
                    <label class="right">Spatialize Audio</label>
                </div>
            }
        </div>
    </div>
    <div id="videoArea">
        @if ( UseVideoPlayer )
        {
            <VideoPanel @ref=VideoPanel src=@CurrentVideoPath VideoRoot=@CurrentVideoRoot AudioSource=@AudioSource
                width=640 height=360 AutoPlay=@true muted="false" TargetMixer=@TargetMixer 
                ShowControls=@ShowControls AutoHideControls=@AutoHide AutoHideDelay=@AutoHideDelay/>
        }
        else
        {
            <StyleVideoPanel VideoPath=@CurrentVideoPath/>
        }
    </div>
    @if ( CurrentVideo is not null)
    {
        <AttributionPanel Source=@CurrentVideo/>
    }
    <label id="notice">All copyrighted videos are excerpts presented for educational purposes only.</label>
</root>
